.bookmarks {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin: 1.5rem;
  height: 2.5rem;
}

.bookmarks__bookmark {
  width: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0;
  margin-left: 0.3125rem;
  height: 2.5rem;
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.bookmarks__tool-tip {
  visibility: hidden;
  opacity: 0;
  color: #000;
  background: #fff;
  width: fit-content;
  align-self: center;
  padding: 0.6875rem 1.25rem;
  box-shadow: 0 0.625rem 1.375rem rgba(59, 74, 116, 0.1);
  border-radius: 0.625rem;
  text-align: center;
  border: none;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.bookmarks__unselected {
  background: url(../../images/bookmark-empty.svg) no-repeat center;
}
.bookmarks__bookmark:hover {
  background: url(../../images/bookmark-hover.svg) no-repeat center;
}
.bookmarks__bookmark:hover ~ .bookmarks__tool-tip {
  visibility: visible;
  opacity: 1;
}

.bookmarks__selected {
  background: url(../../images/bookmark-filled.svg) no-repeat center;
}

.bookmarks__delete,
.bookmarks__delete:hover {
  background-image: url(../../images/delete-icon.svg);
}

.bookmarks__delete,
.bookmarks__delete:hover ~ .bookmarks__tool-tip {
  visibility: visible;
  opacity: 1;
}

.bookmarks__keyword {
  color: #000;
  background: #fff;
  padding: 0.5rem 1.375rem;
  box-shadow: 0 0.625rem 1.375rem rgba(59, 74, 116, 0.1);
  border-radius: 0.625rem;
  text-align: center;
  border: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 1023px) {
  .bookmarks {
    margin: 0.5rem;
  }

  .bookmarks__bookmark {
    min-height: 2.5rem;
    min-width: 2.5rem;
  }

  .bookmarks__keyword {
    padding: 0.5rem 1.25rem;
  }
}
@media screen and (max-width: 767px) {
  .bookmarks {
    margin: 1rem;
  }
}
