.bookmark {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border-radius: 0.5rem;
  border: 0.125rem solid rgb(182, 188, 191);
  padding: 0;
  background-position: center;
}

.bookmark__unselected {
  background-image: url(../../images/bookmark-empty.svg);
}

.bookmark:hover {
  background: url(../../images/bookmark-hover.svg);
}

.bookmark__selected {
  background: url(../../images/bookmark-filled.svg);
}

@media screen and (max-width: 1023px) {
  .bookmark {
    top: 0.5rem;
    right: 0.5rem;
  }
}
@media screen and (max-width: 767px) {
  .bookmark {
    top: 1rem;
    right: 1rem;
  }
}
