.mobile-menu__close {
  align-self: end;
  background: transparent url(../../images/close-icon.svg) no-repeat center;
  background-size: 1.5rem 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-style: none;
  cursor: pointer;
  padding: 0;
}
