.main__jumbotron {
  background: url("../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg")
    no-repeat top;
  background-size: contain;
  height: 36rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
