.header {
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 500;
	background-color: transparent;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.nav__item {
  margin-right: 1.5rem;
}

.nav__item_active {
  border-bottom: 1px rgb(0, 0, 0) solid;
}
