.saved-news__subheader {
  padding-left: 6.5rem;
  margin: 0;
  color: #1a1b22;
  background: #fff;
  font-weight: 400;
}

.subheader__title {
  padding-top: 2.5rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  opacity: 50%;
  margin: 0;
}

.subheader__article-count {
  padding: 1.75rem 0 1.875rem;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  line-height: 2.6875rem;
  margin: 0;
  width: 33.125rem;
}

.subheader__keywords-list {
  margin: 0;
  padding-bottom: 3.5rem;
}

.keywords-list__span {
  font-weight: 700;
}
